*{
	box-sizing: border-box;
	
}
body{
	background-color: #003030;
	color: white;

}
#bg{
	width: 500px;
	height: 500px;
	background: url("lands.jpg") no-repeat bottom;
	

}

h1.hed{
	text-align: center;
	color: red;
	border: 3px solid red;
}
#fav{
	color: red;
	background-color: black;
	border
}
ul.things{
	font-style: italic;
	font-size: 20px;
	color: white;
}
header li{
	list-style: none;

}
a:link, a:visited{
	text-decoration: none;
	background-color: black;
	border: 1px solid white;
	color: red;
	display: block;
	width: 100px;
	text-align: center;
	margin-bottom: 1px;

}
a:hover, a:active{
	background-color: red;
	color: black;
}
/*header li:nth-child(3){
	font-size: 20px;
}*/
.font{
	font-family: Times new roman, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: justify;
	text-transform: uppercase;
}
.font1{
	font-size: 2em;
	background-color: red;

}
.box{
	margin: 40px;
	padding: 10px 10px 10px 10px;
	background-color: green;
	width: 500px;
	height: 100px;
	overflow: auto;
	
}
.floatbg{
	background-color: #00FFFF;
}
.pbox p{
	width: 50px;
	height: 50px;
	border: 2px solid black;
	}
#p1{
background-color: pink;
float: left;
height: 250px;
}
#p2{
background-color: green;
float: right;
height: 100px;
}
#p3{
background-color: blue;
clear: left;
}
#p4{
background-color: white;
}

.colp p{
	width: 50%;
	float: left;
	padding: 10px;
}
div#container{
	background-color: red;
	position: relative;
	top: 60px;
}
#container p{
	width: 50px;
	height: 50px;
	border: 1px solid white;
	margin-bottom: 15px;

}
#PE1{
background-color: #DEB887;
position: relative;
top: 65px;
left: 65px;
}
#PE2{
background-color: #5F9EA0;
}
#PE3{
background-color: #FF7F50;
position: absolute;
top: 0;
left: 0;
}
#PE4{
background-color: #FFB880;
}